@import '~antd/dist/antd.css';


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* max-width: 80%; */
  /* padding: 50px; */
}

.content-chunk{
  padding: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }

.date-picker{
  margin: 0 auto;
}

.fields-description{
  display: flex;
  flex-direction: row;
}

.delivered-invoice-container{
  display: flex;
  flex-direction: row;
  margin-bottom:600px;
}

.delivered-summary{
  width: 50%;
  background-color: blue;
}

.payments-display{
  width: 50%;
  background-color: red;
}